name: Metrics
on:
  # Schedule updates every day
  schedule: [{cron: "0 8 * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: therzka
          config_timezone: America/Los_Angeles
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          plugin_habits: yes
          plugin_habits_trim: yes
          plugin_habits_charts_type: chartist
          plugin_stars: yes
          plugin_stars_limit: 3
          plugin_achievements: yes
          plugin_achievements_display: compact
          extras_css: |
            h1, h2, h3 {
              color: #ceaded;
            }
            .field svg {
              color: #ceaded;
            }
            .field {
              color: #beb4d3;
            }
  
